SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

# Optional. Defaults to Parth's fallback playlist:
# https://open.spotify.com/playlist/2TWRgyhokbTzmxcNtSlSa6
SPOTIFY_FALLBACK_PLAYLIST_ID=2TWRgyhokbTzmxcNtSlSa6
